services:
    db-vd:
        image: postgres:17.2-alpine
        restart: always
        environment:
            POSTGRES_DB: 'infra_project'
            POSTGRES_USER_FILE: /run/secrets/db_user
            POSTGRES_PASSWORD_FILE: /run/secrets/db_password
        volumes:
            - db-data-vd:/var/lib/postgresql/data
        secrets:
            - db_user
            - db_password
        networks:
            - default

    groceryapp-vd:
        build: .
        ports:
            - "8080:8080"
        depends_on:
            - db-vd
        environment:
            SPRING_DATASOURCE_URL: jdbc:postgresql://db-vd:5432/infra_project
            SPRING_DATASOURCE_USERNAME_FILE: /run/secrets/db_user
            SPRING_DATASOURCE_PASSWORD_FILE: /run/secrets/db_password
        secrets:
            - db_user
            - db_password
        networks:
            - default

    frontend-vd:
        build: ./frontend
        networks:
            - default

    proxy-vd:
        image: nginx:alpine
        volumes:
            - ./cert/fullchain.pem:/etc/cert/fullchain.pem
            - ./cert/privkey.pem:/etc/cert/privkey.pem
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
            - ./frontend:/usr/share/nginx/html
        depends_on:
            - groceryapp-vd
        ports:
            - "80:80"
            - "443:443"
        networks:
            - default

    duckdns:
        image: linuxserver/duckdns
        environment:
            - SUBDOMAINS=groceryappvd
            - TOKEN=ace1927f-bf19-4f0b-8adb-e78fcbafee2c
        restart: unless-stopped
        networks:
            - default

secrets:
    db_user:
        file: ./secrets/db_user.txt
    db_password:
        file: ./secrets/db_password.txt

volumes:
    db-data-vd:

networks:
    default:
        driver: bridge

